header {
    background-color: gray;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 2%;
}

header h1 {
    display: block;
    margin-left: 5%;
}

header .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

header .navbar-toggler {
    margin-right: 2%;
}

.navbar {
    padding-bottom: 0;
}

.navbar-brand {
    font-size: 1.7rem;
}

.navbar-nav {
    background-color: white;
}

.navbar-nav .nav-item {
    border-top: 1px solid black;
}



main {
    padding: 0 2%;
}

main h2 {
    margin-bottom: 3.5%;
}

main section {
    background-color: gray;
    border: 1px solid black;
}

main .row {
    margin-left: 0;
    margin-right: 0;
}

